.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: "nav main main main main"
                       "nav sub1 sub1 sub2 sub2";
}

.grid_container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}

.main_area {
  grid-area: main;
}

.navbar {
  grid-area: nav;
}

.network_traffic {
  grid-area: sub1;
}

.registers {
  grid-area: sub2;
}

div.tooltip {
  position: absolute;
  opacity: 0;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
  font: 12px sans-serif;
  width: 140px;
  text-align: center;
  z-index: 1;
}
